<input id="close-cookie" type="checkbox" />
<div class="cookie-alert">
    <p class="policy"> Utilizamos cookies para asegurar que damos la mejor experiencia al usuario en nuestro sitio web.
    Si continúa utilizando este sitio asumiremos que está de acuerdo, según lo descrito en la <a> Política de cookies. </a> 
    
        <label for="close-cookie"><i class="close-icon fas fa-times"></i></label> 
</p>
</div>

