<footer>
 <div class="main-footer">
  <nav class="footer-links">
   <ul>
    <li>
     <%= link_to root_path do %> <div class="footer-logo"> </div>
      <% end %>
    </li>
   </ul>
   <ul>
    <h3>Restaurante</h3>
      
      <p><a href="/menu">Ver la carta</a></p>
      <p><a href="/menu">Novedades</a></p>
      <p><a href="/menu">Trabaja con nosotros</a></p>

   </ul>
   <ul>
    <h3>Horario</h3>
     <p>Lunes:  Cerrado </p>
     <p>Martes a Domingo <br>12:00–16:00 / 20:00–24:00 </p>
     <p>Sábados: 12:00–16:00</p> 
         

   </ul>
   <ul>
    <h3>Dirección</h3>
    <p>Calle Corona nº8 <br>Valencia  (46003)  </p>
     <h3>Reservas</h3>  
    <p>960 21 67 80 <br> <a  herf="mailto:hola@thaimongkut.es" target="_blank">hola@thaimongkut.es</a></p>
    <li class="social-footer">
      <a class="fab fa-instagram" target="_blank" href="https://www.instagram.com/thaimongkut/"></a> 
      <a class="fab fa-facebook-f" target="_blank" href="https://www.facebook.com/ThaiMongkut.es/"></a> 
      <a class="fab fa-tripadvisor" target="_blank" href="https://www.tripadvisor.es/Restaurant_Review-g187529-d16852837-Reviews-Thai_Mongkut-Valencia_Province_of_Valencia_Valencian_Country.html"></a> 
    </li>
   </ul>
  </nav>
 </div>
 <hr></hr>
 <div class="disclaimer-footer">
  <section>
    <ul>
    <li><a>Terminos y condiciones</a></li>
    <li><a>Política de privacidad</a></li>
    <li><a>Uso de Cookies</a></li>
   </ul>
   <ul>
    <li> ©
     <%= Time.current.year %> Todos los derechos reservados | Restaurante Thai Mongkut </li>
   </ul>
  
  </section>
 </div>
</footer>
