 <% @page_title = "Menu" %>
  
 
   <div class="menu">
        <section>
          <nav>
           <ul>
              <h3>Entrantes <span> / Starters</span></h3>
              <li>
                 <span class="meal-name">Poh Piah de Verduras y Carne 
             
                 <span class="meal-price">7,50 €</span>
                 </span>
                 <span class="meal-esp">Rollitos rellenos de fideos de soja, verduras y carne, servidos con salsa agridulce.</span>
                 <span class="meal-eng">Rolls stuffed with soy noodles, vegetables and meat, served with sweet and sour sauce.</span>
              </li>
              <li>
                 <span class="meal-name">Chicken Kai Satee 
                 <span class="meal-price">9,10 €</span>
                 </span>
                 <span class="meal-esp">Brochetas de pollo marinado con salsa de cacahuete.</span>
                 <span class="meal-eng">Marinated chicken skewers with peanut sauce.</span>
              </li>
              <li>
                 <span class="meal-name">Alitas de Pollo
                 <span class="meal-price">8,50 €</span>
                 </span>
                 <span class="meal-esp">Alitas de pollo marinadas.</span>
                 <span class="meal-eng">Marinated chicken wings.</span>
              </li>
              <li>
                 <span class="meal-name">Langostino Rebozado
                 <span class="meal-price">8,90 €</span>
                 </span>
                 <span class="meal-esp">Langostinos crujientes rebozados con salsa agridulce picante.</span>
                 <span class="meal-eng">Crunchy prawns battered in spicy sweet and sour sauce..</span>
              </li>
           </ul>
           
           <ul>
              <h3>Ensaladas <span> / Salads</span></h3>
              <li>
                 <span class="meal-name">Laamb Kai
                 <span class="meal-price">9,10 €</span>
                 </span>
                 <span class="meal-esp">Ensalada de picadillo de pollo, hierbabuena y lima.</span>
                 <span class="meal-eng">Chicken hash salad with mint and lime.</span>
              </li>
           </ul>
           <ul>
              <h3>Sopas <span> / Soups</span></h3>
              <li>
                 <span class="meal-name">Tom Yam Kung
                 <span class="meal-price">9,10 €</span>
                 </span>
                 <span class="meal-esp">Sopa de pollo con verduras y leche de coco.</span>
                 <span class="meal-eng">Chicken soup with vegetables and coconut milk.</span>
              </li>
              <li>
                 <span class="meal-name">Tom Kha Kai 	
                 <span class="meal-price">8,00 €</span>
                 </span>
                 <span class="meal-esp">Sopa picante de gambas y leche de coco.</span>
                 <span class="meal-eng">Spicy shrimp soup with coconut milk.</span>
              </li>
           </ul>
             <ul>
              <h3>Principales <span> / Main Courses</span></h3>
              <li>
                 <span class="meal-name">Khao Pad Saparod	
                 <span class="meal-price">11,50 €</span>
                 </span>
                 <span class="meal-esp">Arroz frito con gambas, huevo y anacardos.</span>
                 <span class="meal-eng">Fried rice with prawns, egg and cashew nuts.</span>
              </li>
              <li>
                 <span class="meal-name">Pad Thai		
                 <span class="meal-price">11,50 €</span>
                 </span>
                 <span class="meal-esp">Tallarines de arroz al tamarindo, salteados con brotes de soja, huevo y cacahuete.</span>
                 <span class="meal-eng">Tamarind rice tagliatelle, sautéed with soybean sprouts, egg and peanut.</span>
              </li>
              <li>
                 <span class="meal-name">Pad Med Ma Muang 	
                 <span class="meal-price">9,50 €</span>
                 </span>
                 <span class="meal-esp">Salteado de pollo con anacardos, pimienta, cebolla, champiñones y chile, 
                 con salsa de soja y ostras. Con  arroz blanco Thai de Jazmín.</span>
                 <span class="meal-eng">Sautéed chicken with cashews, pepper, onion, mushrooms and chili, 
                 with soy sauce and oysters. With Thai white Jasmine rice.</span>
              </li>
              <li>
                 <span class="meal-name">Pad Ka-Prao 	    
                 <span class="meal-price">11,50 €</span>
                 </span>
                 <span class="meal-esp">Con pollo, chile, albahaca y huevo frito. Con  arroz blanco Thai de Jazmín.</span>
                 <span class="meal-eng">With chicken, chili, basil and fried egg. With Thai white Jasmine rice.</span>
              </li>
              <li>
                 <span class="meal-name">Ternera Con Salsa De Ostras
                 <span class="meal-price">9,50 €</span>
                 </span>
                 <span class="meal-esp">Ternera con salsa de ostras. Con  arroz blanco Thai de Jazmín.</span>
                 <span class="meal-eng">Veal with oyster sauce. With Thai white Jasmine rice.</span>
              </li>
              <li>
                 <span class="meal-name">Pla Rad Prik  		
                 <span class="meal-price">15,90 €</span>
                 </span>
                 <span class="meal-esp">Pescado frito con salsa agridulce.</span>
                 <span class="meal-eng">Fried fish with sweet and sour sauce.</span>
              </li>
              <li>
                 <span class="meal-name">Pad Khing 		
                 <span class="meal-price">10,50 €</span>
                 </span>
                 <span class="meal-esp">Pollo salteado con verduras, setas  shitake y jengibre. 
                 Con  arroz blanco Thai de Jazmín.</span>
                 <span class="meal-eng">Chicken sautéed with vegetables, shitake mushrooms and ginger.
                 With Thai white Jasmine rice.</span>
              </li>
              <li>
                 <span class="meal-name">Curry 		
                 <span class="meal-price">10,50 €</span>
                 </span>
                 <span class="meal-esp">Verde / Rojo / Amarillo / Massaman </span>
                 <span class="meal-eng">Green / Red/ Yellow / Massaman.</span>
              </li>
              <li>
                 <span class="meal-name">Pollo Paneng  	
                 <span class="meal-price">10,50 €</span>
                 </span>
                 <span class="meal-esp">Curry Panang de pollo semipicante. Con  arroz blanco Thai de Jazmín.</span>
                 <span class="meal-eng">Spaicy chicken curry. With Thai white Jasmine rice.</span>
              </li>
              </li>
              <li>
                 <span class="meal-name">Khao Suai  	
                 <span class="meal-price">2,50 €</span>
                 </span>
                 <span class="meal-esp">Arroz blanco Thai de Jazmín.</span>
                 <span class="meal-eng">Spaicy chicken curry.</span>
              </li>
           </ul>
           <ul>
              <h3>Postres <span> / Desserts</span></h3>
              <li>
                 <span class="meal-name">Khao Niao Ma Muang
                 <span class="meal-price">5,90 €</span>
                 </span>
                 <span class="meal-esp">Arroz con leche de coco y mango fresco.</span>
                 <span class="meal-eng">Rice pudding with coconut milk and fresh mango.</span>
              </li>
              <li>
                 <span class="meal-name">Tarta De Queso	
                 <span class="meal-price">5,50 €</span>
                 </span>
                 <span class="meal-esp">Tarta de queso con mermelada de mango.</span>
                 <span class="meal-eng">Cheesecake with mango jam.</span>
              </li>
              <li>
                 <span class="meal-name">Tarta Tartin
                 <span class="meal-price">5,50 €</span>
                 </span>
                 <span class="meal-esp">Tarta de manzana invertida.</span>
                 <span class="meal-eng">Upside-down apple pie.</span>
              </li>
              <li>
                 <span class="meal-name">Tarta De Tres Chocolates
                 <span class="meal-price">5,50 €</span>
                 </span>
                 <span class="meal-esp">Tarta de 3 chocolates (negro, blanco y con leche).</span>
                 <span class="meal-eng">Triple chocolate cake (black, white and with milk).</span>
              </li>
              <li>
                 <span class="meal-name">Sorbete De Mango	
                 <span class="meal-price">4,50 €</span>
                 </span>
                 <span class="meal-esp">Sorbete de mango refrescante.</span>
                 <span class="meal-eng">Refreshing mango sorbet.</span>
              </li>
           </ul>
         
        </nav>
        </section>
    </div>  
    
      <div class="hero-meal">
        <section>
               
        </section>
    </div>