   .menu {
    background: $color-two;
    section {
     min-height: 200px;
     @include wrap;
     overflow: hidden;
     @include padding(3em 2em 3em 2em);
     position: relative;
     z-index: 9998;
    }
    background: $color-two;
    section {
     nav {
      ul {
       h3 {
        font-size: 2em;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 2em;
        @include grid-media($lg) {
         font-size: 3em;
         text-align: center;
        }
        @include margin(.5em 0 .5em 0);
        >span {
         font-weight: 500;
         text-transform: none;
        }
       }
       li {
        @include grid-column(12);
        @include grid-media($lg) {
         @include grid-column(6);
         min-height: 150px;
        }
        @include margin(.5em 0 .5em 0);
        >span {
         @include margin(10px 0 10px 0);
         max-width: 80%;
        }
        .meal-name {
         font-weight: 800;
         font-family: $font-two;
         font-size: 1.5em;
         color: $color-three;
         .meal-price {
          @include padding(5px 0 0 0);
          font-size: .8em;
          position: relative;
          float: right;
          font-family: $font-one;
         }
        }
        .meal-esp {
         display: block;
        }
        .meal-eng {
         @include margin(-.5em 0 0 0);
         font-weight: 300;
         display: block;
         font-style: italic;
        }
       }
      }
     }
    }
   }
   